@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gardablack';
  src: url('/_fonts/Gardablack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cubano';
  src: url('/_fonts/Cubano.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --red: #B71C1C;
  --light-blue: #B3E5FC;
  --beige: #F5E6D3;
  --yellow: #FDD835;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--beige);
  color: var(--red);
}
